{
  "printWidth": 120,
  "proseWrap": "preserve",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "endOfLine": "lf"
}
